.test {
    background-color: grey;
    text-align: center;
    text-size-adjust: 50px;

}

#startButton {
    text-align: center;
}

.nextButton {
    text-align: center;
}

/* .hide {
    visibility: hidden;

} */

#main-container {
    text-align: center;
    align-items: center;
    width: 800px;
    max-width: 80%;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px 2px;


}

/* .card {
    display: inline-block;

}

#question-container {
    display: inline-block;
    width: 800px;
    max-width: 80%;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px 2px;

} */

.new {
    display: inline-block;
}

.time {
    width: 100%;
    text-align: center;
  }

  #minutes {
    font-size: 6em;
    float: left;
    margin-left: 25%;
  }
  
  #seconds {
    font-size: 4em;
    float: left;
  }


  .answer-button {
    display: grid;

  }